/* Fundo geral com gradiente */
body {
  margin: 0;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #003865, #f58220);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card estilizado */
.card-form {
  background: linear-gradient(135deg, #ffffffee, #f0f4f8ee);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 3px solid #f58220;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.close-button{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.card-form h2 {
  color: #003865;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/* Formulário */
form label {
  font-weight: bold;
  margin-top: 1rem;
  display: block;
  color: #003865;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

form textarea {
  min-height: 100px;
  resize: vertical;
}

/* Botão */
form button {
  background-color: #f58220;
  color: white;
  border: none;
  padding: 0.8rem;
  width: 100%;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #d66c18;
}

#btn-publicar{
    position: fixed;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    border: none;
    width: 40px;
    height: 40px;
}

@media (max-width: 600px) {
  .card-form {
    padding: 1rem;
    scale: 0.9;
  }

  form button {
    font-size: 1rem;
    padding: 0.6rem;
  }

  #btn-publicar {
    width: 35px;
    height: 35px;
    right: 20px;
    bottom: 20px;
  }
}

#btn-publicar:active {
  transform: scale(0.95);
}